* {
    background-color: rgb(69, 194, 240);
}

h1 {
    margin: 20px auto;
    text-align: center;
    z-index: 5;
}

p {
    text-align: center;
    color: rgb(83, 0, 13);
    font-weight: bold;
    z-index: 5;
}