body {
    background-color: rgb(69, 194, 240);
}

header {
    height: 160px;
    background: rgb(21, 130, 170);
}

header img {
    width: 250;
    margin: 20px 200px 20px 20px;
}

a {
    border: none;
    padding: 10px 10px;
    background: rgb(21, 130, 170);
    font-size: 18px;
    transition: 350ms;
    cursor: pointer;
    font-family: 'Oleo Script', cursive;
    float: right;
    margin: 60px 50px 60px 50px;
    color: rgb(37, 8, 8);
}

a:hover {
    color: red;
}

nav img {
    margin: 0px 125px 0px 125px;
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(7, 57, 75);
    font-weight: bold;
    background-color: rgb(97, 138, 153)
}

section div {
    width: 400px;
}

section div img {
    width:350px;
    border: solid;
    border-width: 20px;
    border-color: rgb(0,0,0);
    margin: 20px 0px 20px 0px;
}

section h1 {
    padding-top:20px;
    font-size: 48px;
}

section p {
    font-size: 22px;
    padding: 10px 40px 20px 40px;
}

div {
    float: left;
    width: 200px;
    margin: 50px 25px 10px 40px;
}

div img {
    width: 200px;
}

div p {
    width: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px auto 10px auto;
    color: rgb(83, 0, 13);
}

footer {
    clear: both;
    background: rgb(21, 130, 170);
    height: 350px;
    text-align: center;
}

