* {
    font-family: gill-sans, sans-serif;
    width: 100%;
    margin: 7px;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    text-align: center;
}

div {
    margin: 40px;
    float: left;
    width: 180px;
}

html, body {
    height: 100%;
}

