* {
    font-family: gill-sans, sans-serif;
    width: 100%;
    margin: 7px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(69, 194, 240);
}
/*  color1: rgb(195, 204, 100);
    color2: rgb(142, 153, 29);
    color3: rgb(255, 237, 150);
    color4: rgb(214, 244, 255);
    color5: rgb(100, 153, 204); */ 

h1 {
    text-align: center;

}

p {
    text-align: center;
    color: rgb(83, 0, 13);
    font-weight: bold;
}

img {
    float: center;
    width: 400;
}

table {
    width: 900px;
    border-width: thick;
    border-style: outset;
    margin: 30px auto 20px auto;
    z-index: 5;
}

tr:first-child, tr:last-child {
    width: 150px;
}

td {
    background-color: rgb(255, 237, 150);
    width: 40px;
    height: 50px;
    font-weight: bold;
    border-style: solid;
    text-align: right;
    padding: 5px;
}

th {
    background-color: rgb(142, 153, 29);
    width: 40px;
    height: 50px;
    font-weight: bold;
    border-style: solid;
}


input {
    width: 150px;
}

fieldset {
    margin: 10px auto 10px auto;
    width: 830px;
    border: 2px solid;
    border-radius: 10px;
    z-index: 5;
}

button {
    float: right;
    width: 120px;
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

legend {
    width: 200px;
    border: 2px solid;
    border-radius: 7px;
}

div {
    margin: 40px;
    float: left;
    width: 180px;
}


